::-webkit-scrollbar {
            width: 8px;
        }
        ::-webkit-scrollbar-track {
            background: transparent;
        }
        ::-webkit-scrollbar-thumb {
            background-color: #d1c4e9;
            border-radius: 20px;
        }
        .hero-mask {
            mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
            -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
        }
        .text-stroke {
            -webkit-text-stroke: 1px rgba(255,255,255,0.1);
        }
