.dot-pattern {
            background-image: radial-gradient(circle, #994ce6 1px, transparent 1px);
            background-size: 24px 24px;
            opacity: 0.05;
        }
        .scrollbar-hide::-webkit-scrollbar {
            display: none;
        }
        .scrollbar-hide {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
        ::-webkit-scrollbar {
            width: 8px;
        }
        ::-webkit-scrollbar-track {
            background: transparent;
        }
        ::-webkit-scrollbar-thumb {
            background-color: #d1c4e9;
            border-radius: 20px;
        }
