body { font-family: 'Be Vietnam Pro', sans-serif; }
        .hero-pattern {
            background-color: #994ce6;
            background-image: radial-gradient(circle at 2px 2px, rgba(255,255,255,0.15) 1px, transparent 0);
            background-size: 24px 24px;
        }
