.signature-pattern {
            background-color: #f7f6f8;
            background-image: radial-gradient(#994ce6 0.5px, transparent 0.5px), radial-gradient(#994ce6 0.5px, #f7f6f8 0.5px);
            background-size: 20px 20px;
            background-position: 0 0, 10px 10px;
            opacity: 0.05;
            position: absolute;
            inset: 0;
            z-index: -1;
        }
